
#Record
{
    /*width: 60%;*/
}

#Record .ui-fieldset-legend
{
    line-height: 20%;
    height: 8px;
    font-family: arial;
    font-size: 15px;
    background-color : transparent;
    border-color: #000000;
    position: relative;
}

#LogBook  .ui-fieldset-legend
{
    line-height: 10%;
    height: 5px;
    margin-top: -15px;
    font-family: arial;
    font-size: 15px;
    background-color : #ffffff;
    border-color: transparent;
    position: absolute;
}

#Rod .ui-fieldset-legend
{
    line-height: 10%;
    height: 5px;
    margin-top: -15px;
    font-family: arial;
    font-size: 15px;
    background-color : #ffffff;
    border-color: transparent;
    position: absolute;
}

#login
{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-family: arial;
    background-color : #CCE7FF;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}