/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/04/2017, 16:32:44
    Author     : Marcos_Adriano
*/

*{
    margin: 0;
    padding: 0;
}

div
{
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
}

#LBModal
{
    background-color : #CCE7FF;
}

#NumberModal{
    position: absolute;
    top: 0px;
    left: 0px;
}
#PageModal{
    position: absolute;
    top: 100px;
    left: 300px;
}